#Data_container{
    display: flex;
    width: 100%;
    
  }
  
  #LeftContent{
    width: 25%;
    color: #fff;
    background-color: #58A4B0;
  }
  
  #RightContent{
    width: 70%;
    color: #f4f4f4;
    display: flex;
  }
  
  
  .container {
      background: white;
      padding: 20px;
      border-radius: 8px;
      width: 90%;
      margin:20px auto;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      color: #1B1B1E;
  }
  
  .title {
    font-size: 20px;
    font-weight:600;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .headerRight_content{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: end;
  }
  
  #search {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  
  input#search{
    background-color: #fff;
  }
  
  input, select{
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    background-color:#373F51;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }
  #btn{
      background: #373F51;
      color: white;
      padding: 8px 15px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 100;
      margin: 0 8px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .status-active {
    background-color:#567A3E;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    width: 120px;
  }
  .status-pending {
    background-color:#2271B5;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
  }
  .pagination {
    display: flex;
  }
  
  .paginationLeft {
    display: flex;
    align-items: center;
    padding-top: 15px;
    width: 85%;
  }
  
  .paginationRight {
    padding-top: 15px;
    align-self:center;
  }
  
  .pagination a {
    color: #373F51;
    padding: 5px 10px;
    font-weight: normal;
  }
  
  .pagination .active {
    color:#373F51;
    font-weight:bold;
  }