.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
body {
  margin-left: 200px; 
}


.title {
  font-size: 20px;
  font-weight:600;
}

#h2Text{
  cursor: pointer;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-bar {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
}

.add-btn {
  background: #373F51;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #D8DBE2;
  border-radius: 15px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f5f5f5;
}

.pagination {
  display: flex;
}

.paginationLeft {
  display: flex;
  align-items: center;
  padding-top: 15px;
  width: 85%;
}

.paginationRight {
  padding-top: 15px;
  align-self:center;
}

.pagination a {
  color: #373F51;
  padding: 5px 10px;
  font-weight: normal;
}

.pagination .active {
  color:#373F51;
  font-weight:bold;
}