.sidebar-container {
    width: 260px; /* Keep sidebar width */
    min-height: 100vh;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
    margin-left: 10px; /* Shift content slightly to the right */
}

.card {
    height: 100%;
    margin-bottom: 20px;
}

/* Fix Table Overflow */
.table-nowrap th,
.table-nowrap td {
    white-space: nowrap;
}

.transaction-box {
    flex: 1;
    min-width: 320px;
    margin-bottom: 20px;
}

.transaction-box table {
    width: 100%;
}

.custom-row {
    margin-right: 5px; /* Reduce negative margin */
    margin-left: 10px; /* Shift row slightly right */
}

.custom-col {
    padding-right: 10px; /* Increased padding */
    padding-left: 15px;
    margin-left: 60px; /* Increase margin to shift right */
}

/* Chart Container */
.chart-container {
    width: 80%;
    height: auto;
    max-width: 320px; /* Slightly increased width */
}

/* Footer */
.footer {
    background-color: #f8f9fa;
    text-align: left;
    padding: 10px 25px; /* Increased left padding */
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 40px;
    color: #6c757d;
}

.h3 {
    margin-left: 30px; /* Shift header slightly to the right */
}
